@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 283 50% 97%;
    --foreground: 283 20% 15%;
    --card: 283 40% 93%;
    --card-foreground: 283 20% 15%;
    --popover: 283 50% 97%;
    --popover-foreground: 283 20% 15%;
    --primary: 283 44% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 283 33% 88%;
    --secondary-foreground: 283 20% 15%;
    --muted: 283 33% 91%;
    --muted-foreground: 283 15% 45%;
    --accent: 163 44% 53%;
    --accent-foreground: 163 30% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 20% 85%;
    --input: 283 20% 89%;
    --ring: 283 44% 53%;
    --radius: 0.5rem;

    --sidebar-background: 283 30% 90%;
    --sidebar-foreground: 283 20% 20%;
    --sidebar-primary: 283 44% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 283 40% 85%;
    --sidebar-accent-foreground: 283 20% 15%;
    --sidebar-border: 283 20% 80%;
    --sidebar-ring: 283 44% 53%;
  }

  .dark {
    --background: 283 10% 12%;
    --foreground: 283 10% 95%;
    --card: 283 10% 18%;
    --card-foreground: 283 10% 95%;
    --popover: 283 10% 12%;
    --popover-foreground: 283 10% 95%;
    --primary: 283 44% 63%;
    --primary-foreground: 283 10% 10%;
    --secondary: 283 10% 22%;
    --secondary-foreground: 283 10% 95%;
    --muted: 283 10% 22%;
    --muted-foreground: 283 10% 65%;
    --accent: 163 44% 63%;
    --accent-foreground: 163 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 10% 28%;
    --input: 283 10% 28%;
    --ring: 283 44% 63%;

    --sidebar-background: 283 10% 15%;
    --sidebar-foreground: 283 10% 95%;
    --sidebar-primary: 283 44% 63%;
    --sidebar-primary-foreground: 283 10% 10%;
    --sidebar-accent: 283 10% 25%;
    --sidebar-accent-foreground: 283 10% 95%;
    --sidebar-border: 283 10% 25%;
    --sidebar-ring: 283 44% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
